Game!

<h1>Red Words</h1>
<ul>
	{% for card in card_list %}
		{% if card.color == "red" %}
			<li>{{ card.word }}</li>
		{% endif %}
	{% endfor %}
</ul>

<h1>Blue Words</h1>
<ul>
	{% for card in card_list %}
		{% if card.color == "blue" %}
			<li>{{ card.word }}</li>
		{% endif %}
	{% endfor %}
</ul>

<h1>Bystanders</h1>
<ul>
	{% for card in card_list %}
		{% if card.color == "yellow" %}
			<li>{{ card.word }}</li>
		{% endif %}
	{% endfor %}
</ul>

<h1>Assassin Word</h1>
<ul>
	{% for card in card_list %}
		{% if card.color == "black" %}
			<li>{{ card.word }}</li>
		{% endif %}
	{% endfor %}
</ul>