<head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>

{% if card_list %}
	<table>
		<tr> 
			<td>{{ card_list.0.word }}</td>
			<td>{{ card_list.1.word }}</td>
			<td>{{ card_list.2.word }}</td>
			<td>{{ card_list.3.word }}</td>
			<td>{{ card_list.4.word }}</td>
		</tr>
		<tr> 
			<td>{{ card_list.5.word }}</td>
			<td>{{ card_list.6.word }}</td>
			<td>{{ card_list.7.word }}</td>
			<td>{{ card_list.8.word }}</td>
			<td>{{ card_list.9.word }}</td>
		</tr>
		<tr> 
			<td>{{ card_list.10.word }}</td>
			<td>{{ card_list.11.word }}</td>
			<td>{{ card_list.12.word }}</td>
			<td>{{ card_list.13.word }}</td>
			<td>{{ card_list.14.word }}</td>
		</tr>
		<tr> 
			<td>{{ card_list.15.word }}</td>
			<td>{{ card_list.16.word }}</td>
			<td>{{ card_list.17.word }}</td>
			<td>{{ card_list.18.word }}</td>
			<td>{{ card_list.19.word }}</td>
		</tr>
		<tr> 
			<td>{{ card_list.20.word }}</td>
			<td>{{ card_list.21.word }}</td>
			<td>{{ card_list.22.word }}</td>
			<td>{{ card_list.23.word }}</td>
			<td>{{ card_list.24.word }}</td>
		</tr>
	</table>	


{% else %}
	<p> There are no cards. </p>
{% endif %}